.indic-pseudo {
    padding-top: 3%;
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
    text-align: center;
    color: #ffffff
}

.indic {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
    text-align: center;
    color: #ffffff
}

.champ-com {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 3%;
    display: block;
    align-items: center;
    border-style: solid;
    border-radius: 10px;
    border-width: 2.5px;
    border-color: white;
    background-color: #383838;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.champ {
    display: block;
    align-items: center;
    border-style: solid;
    border-radius: 10px;
    border-width: 2.5px;
    border-color: white;
    background-color: #383838;
    color: white;
    margin-left: auto;
    margin-right: auto;
}



@media screen and (max-width: 439px) {
    .champ-com {
        width: 50%;
    }
    .foo {
        color: #0179F2;
    }  
}

@media screen and (min-width: 440px) and (max-width: 600px) {
    .champ-com {
        width: 50%;
    }
    .foo {
        color: #0179F2;
    }   
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
    .champ-com {
        width: 50%;
    }
    .foo {
        color: #0179F2;
    }
}