:root {
    background-color: #383838;
}

p, h1, h2, h3 {
    color: #ffffff
}

h1 {
    font-family: 'Akronim';
    font-size: 250%;
    position: relative;
    top: 10px;
}

p {
    font-family: 'Quicksand';
}

a {
    font-family: 'Big Shoulders Stencil Text'
}

body {
    background-color: #383838;
}

.jumbotron-fluid {
    background-color: #0179F2;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    border-width: 3px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.text-center {
    display: inline;
}

.logo {
    width: 50px;
    height: 50px;
    display: inline;
}

.welcome-text {
    display: inline;
}

.logo-index {
    width: 50px;
    height: 50px;
    display:inline;
}

.select-chapitres {
    display: inline;
}

.logo-chapitres {
    width: 50px;
    height: 50px;
    display:inline;
}

.container {
    text-align: center;
}

.intro {
    padding: 3%;
    padding-top: 3%;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.cover {
    width: 20%;
    height: 20%;
    float: left;
}

.illu {
    padding: 1%;
}

.resume {
    padding-top: 125px;
    padding-right: 50px;
    text-align: center;
    text-decoration: underline;
}

.resum {
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
}

.jumbotron {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.chapitre {
    padding-top: 3%;
    padding-right: 50px;
    padding-left: 50px;
}

.chap {
    padding-left: 50px;
    padding-right: 50px;
}

.img-thumbnail {
    size: 1px;
}

.indic-pseudo {
    padding-top: 3%;
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
    text-align: center;
    color: #ffffff
}

.indic {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
    text-align: center;
    color: #ffffff
}

.champ-com {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 3%;
    display: block;
    align-items: center;
    border-style: solid;
    border-radius: 10px;
    border-width: 2.5px;
    border-color: white;
    background-color: #383838;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.champ {
    display: block;
    align-items: center;
    border-style: solid;
    border-radius: 10px;
    border-width: 2.5px;
    border-color: white;
    background-color: #383838;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.logo-chap {
    width: 50px;
    height: 50px;
    display: inline;
}

.text-chap {
    display: inline;
}

@media screen and (max-width: 439px) {
    .champ-com {
        width: 50%;
    }
    .welcome-text {
        font-size: 9vw;
        display: inline;
    }
    .select-chapitres {
        font-size: 6vw;
        display: inline;
    }
    .logo-index {
        height: 10%;
        width: 10%;
    }
    .logo-chapitres {
        height: 7%;
        width: 7%;
    }
    .cover {
        width: 30%;
        height: 30%;
    }
    
    .illu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .resume {
        padding-top: 50px;
        padding-left: 50px;
        text-align: center;
        text-decoration: underline;
    }

    .foo {
        color: #0179F2;
    }
    .intro {
        margin-top: 3vw;
    }
    .chapitre {
        margin-top: 3vw;
    }
}

@media screen and (min-width: 440px) and (max-width: 600px) {
    .champ-com {
        width: 50%;
    }
    .welcome-text {
        font-size: 9vw;
        display: inline;
    }
    .select-chapitres {
        font-size: 6vw;
        display: inline;
    }
    .logo-index {
        height: 10%;
        width: 10%;
    }
    .logo-chapitres {
        height: 7%;
        width: 7%;
    }
    .cover {
        width: 30%;
        height: 30%;
    }
    
    .illu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .resume {
        padding-top: 50px;
        padding-left: 50px;
        text-align: center;
        text-decoration: underline;
    }

    .foo {
        color: #0179F2;
    }
    .intro {
        margin-top: 3vw;
    }
    .chapitre {
        margin-top: 3vw;
    }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
    .champ-com {
        width: 50%;
    }
    .welcome-text {
        font-size: 9vw;
        display: inline;
    }
    .select-chapitres {
        font-size: 6vw;
        display: inline;
    }
    .logo-index {
        height: 10%;
        width: 10%;
    }
    .logo-chapitres {
        height: 7%;
        width: 7%;
    }
    .cover {
        width: 30%;
        height: 30%;
    }
    
    .illu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .resume {
        padding-top: 50px;
        padding-left: 50px;
        text-align: center;
        text-decoration: underline;
    }

    .foo {
        color: #0179F2;
    }
    .intro {
        margin-top: 3vw;
    }
    .chapitre {
        margin-top: 3vw;
    }
}